@import "./global";

.about {
  background-color: $lighter;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.about-container {
  width: 100%;
  max-width: 1180px;
  margin: 3rem 0;
  border: 1px black solid;
  background-color: $white;
  padding: 3.5rem;
  border-radius: 1rem;
  position: relative;
}

.about-wrapper {
  font-size: 2rem;
  color: $dark;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;

  .social {
    justify-content: center;
  }
}
.about-certifications-container {
  align-self: center;  
  width: 70%;
  min-width: 300px;
  margin: 2rem 0;
  color: $dark;
}

.about-certification-container {
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 1px $main;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.about-certification-header-wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  h2 {
    position: relative;
    display: flex;
  }
}

.about-certification-wrapper {
  display: flex;
  margin-top: 1rem;

  div {
    &:nth-child(1) {
      min-width: 40px;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    &:nth-child(3) {
      color: red;
      margin-left: auto;
    }
  }

  h3 {
    &:hover {
      color: $light;
    }
  }
}

.about-cv {
  margin: 5rem 0;
  text-align: center;

  i {
    font-size: 2.5rem;
    color: red;
    margin-left: 1rem;
  }
}

.about-header {
  text-align: center;
  font-size: 3.5rem;
  color: $main;  
}

.about-randomize {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: $white;
  color: $main;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px $main solid;
  z-index: 2;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  opacity: 0;
  animation: markov 2s 10s forwards;
}

// Markov chain easter egg :D

@keyframes markov {
  0% {
    transform: scale(0) rotate(45deg) translate(18%, 35%);
    opacity: 0;
  }

  80% {
    transform: scale(1.2) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }
}
