@import "./global";

.about {
  background-color: $lighter;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.about-container {
  width: 100%;
  max-width: 1180px;
  margin: 3rem 0;
  border: 1px black solid;
  background-color: $white;
  padding: 3.5rem;
  border-radius: 1rem;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    color: $main;
  }
}
.about-wrapper {
  font-size: 2rem;
  color: $dark;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;

  .social {
    justify-content: center; 
  }
}

.about-cv {
  margin: 5rem 0;
  text-align: center;

  i {
    font-size: 2.5rem;
    color: red;
    margin-left: 1rem;
  }
}