@import "./global";

.about {
  background-color: $lighter;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;

}

.about-container {
  width: 100%;
  max-width: 1180px;
  margin: 3rem 0;
  border: 1px black solid;
  background-color: $white;
  padding: 3.5rem;
  border-radius: 1rem;
}

.about-wrapper {
  font-size: 2rem;
  color: $dark;
  letter-spacing: .2rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;

  .social {
    justify-content: center; 
  }
}

.about-cv {
  margin: 5rem 0;
  text-align: center;

  i {
    font-size: 2.5rem;
    color: red;
    margin-left: 1rem;
  }
}

.about-header {
  text-align: center;
  font-size: 3.5rem;
  color: $main;
  position: relative;
  z-index: 1;
}

.about-randomize {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  background-color: $white;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px $main solid;
  z-index: 2;
  transform: translate(100%, -100%) rotate(3000deg);
  opacity: 0;
  transition: 2.5s ease-out;
}