@import "./global";

.form-container {
  background-color: $lighter;
  color: $main;
  height: 100%;
  display: grid;
  place-content: center;
}

.form {
  min-width: 35rem;
  min-height: 45rem;
  background-color: $white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px 5px $dark;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;

  h2 {
    align-self: center;
  }

  label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $main;
    color: $lighter;
    border-radius: 1rem;
    outline: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
      background-color: $lighter;
      color: $main;
    }
  }

  textarea {
    min-height: 10rem;
  }

  input, textarea {
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 40rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px $main solid;
    outline: none;
    background-color: $lighter;
    color: $main;
    
    &:focus {
      box-shadow: 0 0 10px 5px $lighter;
      background-color: $white;
    }
  }
}

.submit-status {
  color: $main;
  text-transform: capitalize;
  font-weight: 600;
  margin: auto;
}



