@import "./global";

.projects {
  background-color: $lighter;
  height: 100%;
  padding: 2rem 0;
}

.filter-btn {
  display: flex;
  font-size: 2rem;
  width: 10rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 auto;
  color: $dark;
  margin-bottom: .5rem;

  &:hover {
    color: $main;
  }
}

.projects-filters-container {
  overflow: hidden;
  visibility: hidden;
  margin: 0 .5rem;
  height: 0;
  transition: .7s;
}

.show-container {
  visibility: visible;
  height: initial;
}

.projects-filters-header {
  text-align: center;
  color: $dark;
  margin-bottom: .5rem;
}

.projects-filters {
  text-align: center;
  border: 2px $dark solid;
  border-radius: 1rem;
  padding-top: 1rem;
  transition: .5s ease;
  transition-delay: .2s;
  transform: translateY(-100%);

  button {
    margin-right: 2rem;
    margin-bottom: .5rem;
    outline: none;
    

    &:hover {
      transform: translateY(-5%);
      box-shadow: 0 1px 2px 0 $dark;
    }
  }
}

.show-filters {
  transform: translateY(0);
}

.button-selected {
  background-color: $main;
  color: $lighter;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  max-width: 1180px;
  margin: 3rem auto;
  background-color: $light;
  gap: 0.5rem;
  padding: .5rem;
}

.card-container {
  position: relative;
  justify-self: center;
}

.card {
  width: 385px;
  height: 300px;
  position: relative;
  border: 2px $dark solid;
  transition: 0.5s ease-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-container:hover .front {
  z-index: 0;
}

.side {
  text-align: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  z-index: 1;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(150deg, $dark 55%, $light 60%, $main 65%);
  color: $lighter;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);

  .underline {
    background-color: $lighter;
  }
}

.back {
  z-index: 5;
  transform: rotateY(180deg);
  background-color: $main;
  color: $white;
}

.back-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  .featured-project-tech {
    justify-content: center;
  }
}

.back-top {
  margin-bottom: 8rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2em $dark;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem $light;
}

.btn--white {
  background-color: $white;
  color: $main;
}

.btn--white::after {
  background-color: $white;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.card-git {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.5rem;
  color: $light;
  transition: 0.4s ease;

  span {
    opacity: 0;
    transition: 0.4s ease;
  }

  &:hover {
    color: $lighter;

    span {
      opacity: 1;
    }
  }
}

@media (max-width: 31.25em) {
  .card {
    width: 285px;
    height: 250px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}