:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  position: relative;
  background-color: var(--lighter);
  top: 0;
  left: 0;
  z-index: 10;
}

.header-container {
  bottom: 100%;
  width: 100%;
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container i {
  font-size: 2.5rem;
}

.theme-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main);
  font-size: 2.2rem;
  margin-left: 1rem;
}

#theme {
  width: 5rem;
  height: 2.5rem;
  background-color: var(--main);
  border-radius: 5rem;
  padding: .24rem;
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.theme-ball {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
}

.nav-items {
  padding: 1rem 0;
}

.nav-date {
  color: var(--dark);
  font-weight: 600;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation li {
  margin: 0 2rem;
  cursor: pointer;
  position: relative;
  color: var(--dark);
  font-weight: 600;
  letter-spacing: .15rem;
  font-size: 2rem;
}

.navigation li:nth-last-child(1) {
  margin-right: .5rem;
}

.navigation li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  height: .25rem;
  width: 0;
  opacity: 0;
  background-color: var(--light);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navigation li:hover {
  color: var(--light);
}

.navigation li:hover::after {
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
}

#burger {
  display: none;
}

@media (max-width: 61.25em) {
  .nav-list {
    display: none;
  }
  #burger {
    display: initial;
    margin-right: 1rem;
    color: var(--main);
    cursor: pointer;
    font-size: 4rem;
  }
  #burger:hover {
    color: var(--light);
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

#hero {
  background-color: var(--main);
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-image: url("/img/hero_img.jpg");
  background-size: cover;
  background-position: right;
  color: var(--lighter);
}

#hero::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(var(--dark)), to(var(--main)));
  background: linear-gradient(to top, black, var(--dark), var(--main));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#hero::after {
  content: "";
  background-color: var(--dark);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

#hero.banner::before {
  opacity: 0;
}

.hero-container {
  position: absolute;
  top: 40%;
  left: 50%;
  width: calc(30% + 10rem);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.hero-container .line-animation {
  width: 0;
  border-bottom: 2px var(--light) solid;
  -webkit-animation: line-ani 2s forwards;
          animation: line-ani 2s forwards;
  position: relative;
}

.hero-container .line-animation .line-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 2px var(--light) solid;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 2px var(--light);
          box-shadow: 0 0 20px 2px var(--light);
  -webkit-animation: light 3s 3s infinite;
          animation: light 3s 3s infinite;
}

.hero-container .hero-header-container {
  position: relative;
  overflow: hidden;
  height: 5rem;
  color: var(--lighter);
}

.hero-container .hero-header-container h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: header-ani 1s 2s forwards;
          animation: header-ani 1s 2s forwards;
  font-size: 4rem;
  text-transform: lowercase;
}

.hero-container .hero-header-container h1 .letter-anim:nth-child(1), .hero-container .hero-header-container h1 .letter-anim:nth-child(7) {
  text-transform: uppercase;
}

.hero-container .hero-header-container h1 .letter-anim:nth-child(6) {
  padding: .5rem;
}

.hero-container .hero-header-container p {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: text-ani 1s 2.5s forwards;
          animation: text-ani 1s 2.5s forwards;
  font-size: 3rem;
}

.hero-container .hero-header-container p .letter-anim:nth-child(1), .hero-container .hero-header-container p .letter-anim:nth-child(5) {
  text-transform: uppercase;
}

.hero-container .hero-header-container p .letter-anim:nth-child(4) {
  padding: .5rem;
}

.letter-anim {
  display: inline-block;
}

.letter-anim:hover {
  -webkit-animation: letter-animation 1s infinite;
          animation: letter-animation 1s infinite;
}

@media (max-width: 61.25em) {
  .hero-container {
    width: calc(50% + 10rem);
  }
}

@-webkit-keyframes header-ani {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header-ani {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes text-ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes text-ani {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes line-ani {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes line-ani {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes light {
  0% {
    -webkit-box-shadow: 0 0 20px 2px var(--light);
            box-shadow: 0 0 20px 2px var(--light);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 8px var(--light);
            box-shadow: 0 0 20px 8px var(--light);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 2px var(--light);
            box-shadow: 0 0 20px 2px var(--light);
  }
}

@keyframes light {
  0% {
    -webkit-box-shadow: 0 0 20px 2px var(--light);
            box-shadow: 0 0 20px 2px var(--light);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 8px var(--light);
            box-shadow: 0 0 20px 8px var(--light);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 2px var(--light);
            box-shadow: 0 0 20px 2px var(--light);
  }
}

@-webkit-keyframes letter-animation {
  0% {
    -webkit-transform: translateX(0) skew(0);
            transform: translateX(0) skew(0);
    color: var(--main);
  }
  25% {
    -webkit-transform: translateX(-10%) skew(15deg, 15deg);
            transform: translateX(-10%) skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: translateX(-10%) skew(-15deg);
            transform: translateX(-10%) skew(-15deg);
  }
  100% {
    -webkit-transform: translateX(0) skew(0);
            transform: translateX(0) skew(0);
    color: var(--light);
  }
}

@keyframes letter-animation {
  0% {
    -webkit-transform: translateX(0) skew(0);
            transform: translateX(0) skew(0);
    color: var(--main);
  }
  25% {
    -webkit-transform: translateX(-10%) skew(15deg, 15deg);
            transform: translateX(-10%) skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: translateX(-10%) skew(-15deg);
            transform: translateX(-10%) skew(-15deg);
  }
  100% {
    -webkit-transform: translateX(0) skew(0);
            transform: translateX(0) skew(0);
    color: var(--light);
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.featured-container {
  position: relative;
  width: 100%;
  background-color: var(--lighter);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-wrapper {
  max-width: 1180px;
  width: 100%;
}

.featured-title {
  text-align: center;
  margin: 2rem;
}

.featured-title h2 {
  font-size: 4rem;
  color: var(--dark);
}

.featured-project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-bottom: 5rem;
}

.featured-project:hover .featured-project-img::after {
  opacity: 0.1;
}

.featured-project:nth-child(odd) .featured-project-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
}

.featured-project:nth-child(odd) .featured-project-wrapper {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
}

.featured-project:nth-child(even) .featured-project-img {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / span 8;
}

.featured-project:nth-child(even) .featured-project-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
}

.featured-project-img {
  height: 50rem;
  position: relative;
  overflow: hidden;
  -ms-grid-row: 1;
  grid-row: 1/1;
  border-radius: 1rem;
}

.featured-project-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.featured-project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, right top, left bottom, from(var(--main)), to(var(--dark)));
  background: linear-gradient(to bottom left, var(--main), var(--dark));
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.featured-project-wrapper {
  min-height: 35rem;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 1;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--white);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px var(--dark);
          box-shadow: 5px 5px 15px var(--dark);
}

.featured-project-wrapper .underline {
  margin: 0 auto 2rem 2rem;
}

.featured-project-title {
  letter-spacing: .5rem;
  color: var(--dark);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featured-project-info {
  font-size: 2rem;
  letter-spacing: .15rem;
  line-height: 2.5rem;
  color: var(--dark);
  margin-bottom: 1rem;
}

.featured-project-footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-project-tech {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-project-tech div {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: .8rem;
  background-color: var(--lighter);
  color: var(--main);
  font-weight: 700;
  border-radius: 1rem;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.featured-project-tech div:hover {
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.featured-project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2rem;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.featured-project-url {
  margin-right: 1.5rem;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.featured-project-url:hover {
  color: var(--light);
}

.featured-project-giturl:hover {
  color: var(--light);
}

.featured-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
}

.featured-footer button {
  border: 2px var(--main) solid;
  border-radius: 10rem;
  color: var(--main);
  background-color: var(--white);
  padding: 2.5rem;
  font-size: 2rem;
}

.featured-footer button i {
  margin-left: .5rem;
}

.featured-footer button:hover i {
  -webkit-animation: hover-button .5s infinite;
          animation: hover-button .5s infinite;
}

@media (max-width: 75em) {
  .featured-project-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .featured-project-wrapper {
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .featured-project:nth-child(odd) .featured-project-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .featured-project:nth-child(odd) .featured-project-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .featured-project:nth-child(even) .featured-project-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .featured-project:nth-child(even) .featured-project-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
}

@-webkit-keyframes hover-button {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes hover-button {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.connect {
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
          clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  min-height: 60vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 5rem 0;
  padding: 5rem 0;
  text-align: center;
}

.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light);
  opacity: 0.4;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.connect-text-container {
  -webkit-clip-path: polygon(10% 20%, 90% 20%, 100% 50%, 75% 80%, 25% 80%, 0% 50%);
          clip-path: polygon(10% 20%, 90% 20%, 100% 50%, 75% 80%, 25% 80%, 0% 50%);
  z-index: 5;
  background-color: var(--white);
  padding: 10rem;
  -webkit-box-shadow: 0px 0px 100px 50px var(--dark);
          box-shadow: 0px 0px 100px 50px var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: var(--main);
}

.connect-text-container h1 {
  font-size: 2.5rem;
}

.connect-text-container h2 {
  margin: 1rem;
  font-size: 2rem;
}

.contact-btn {
  margin-top: auto;
}

.contact-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 4rem;
  color: var(--dark);
}

.social a {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  margin-right: 1rem;
}

.social a:hover {
  color: var(--light);
}

.social a:nth-last-child(1) {
  margin-right: 0;
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.projects {
  background-color: var(--lighter);
  height: 100%;
  padding: 2rem 0;
}

.filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  width: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin: 0 auto;
  color: var(--dark);
  margin-bottom: .5rem;
}

.filter-btn:hover {
  color: var(--main);
}

.projects-filters-container {
  overflow: hidden;
  visibility: hidden;
  margin: 0 .5rem;
  height: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

.show-container {
  visibility: visible;
  height: initial;
}

.projects-filters-header {
  text-align: center;
  color: var(--dark);
  margin-bottom: .5rem;
}

.projects-filters {
  text-align: center;
  border: 2px var(--dark) solid;
  border-radius: 1rem;
  padding-top: 1rem;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects-filters button {
  margin-right: 2rem;
  margin-bottom: .5rem;
  outline: none;
}

.projects-filters button:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: 0 1px 2px 0 var(--dark);
          box-shadow: 0 1px 2px 0 var(--dark);
}

.show-filters {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-selected {
  background-color: var(--main);
  color: var(--lighter);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(385px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  max-width: 1180px;
  margin: 3rem auto;
  background-color: var(--lighter);
  gap: 1rem;
}

.card-container {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 385px;
  height: 300px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 2px 2px 5px 2px var(--dark);
          box-shadow: 2px 2px 5px 2px var(--dark);
}

.card-container:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: -2px 2px 5px 2px var(--dark);
          box-shadow: -2px 2px 5px 2px var(--dark);
}

.card-container:hover .front {
  z-index: 0;
}

.side {
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  z-index: 1;
  position: relative;
}

.front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(150deg, var(--dark) 55%, var(--light) 60%, var(--main) 65%);
  color: var(--lighter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
}

.card-title .underline {
  background-color: var(--lighter);
}

.back {
  z-index: 5;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: var(--main);
  color: var(--white);
}

.back-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.back-container .featured-project-tech {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-top {
  margin-bottom: 8rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2em var(--dark);
          box-shadow: 0 1rem 2em var(--dark);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem var(--light);
          box-shadow: 0 0.5rem 1rem var(--light);
}

.btn--white {
  background-color: var(--white);
  color: var(--main);
}

.btn--white::after {
  background-color: var(--white);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card-git {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.5rem;
  color: var(--light);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card-git span {
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card-git:hover {
  color: var(--lighter);
}

.card-git:hover span {
  opacity: 1;
}

@media (max-width: 31.25em) {
  .card {
    width: 285px;
    height: 250px;
  }
  .grid-container {
    -ms-grid-columns: (minmax(285px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.form-container {
  background-color: var(--lighter);
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.form {
  min-width: 35rem;
  min-height: 40rem;
  background-color: var(--white);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px 5px var(--dark);
          box-shadow: 0 5px 15px 5px var(--dark);
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

.form h2 {
  color: var(--main);
}

.form button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main);
  color: var(--lighter);
  border-radius: 1rem;
  outline: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form button:hover {
  background-color: var(--lighter);
  color: var(--main);
}

.form textarea {
  min-height: 10rem;
}

.form input, .form textarea {
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 40rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px var(--main) solid;
  outline: none;
  background-color: var(--lighter);
  color: var(--main);
}

.form input:focus, .form textarea:focus {
  -webkit-box-shadow: 0 0 15px 10px var(--lighter);
          box-shadow: 0 0 15px 10px var(--lighter);
  background-color: var(--white);
}

.submit-status {
  color: var(--main);
  text-transform: capitalize;
  font-weight: 600;
  margin: auto;
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.loading-container {
  background: inherit;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 500;
}

.loading {
  width: 100px;
  height: 100px;
  border-top: 2px var(--main) solid;
  border-radius: 50%;
  -webkit-animation: loading infinite 1s linear;
          animation: loading infinite 1s linear;
}

.loading-text {
  color: var(--main);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16.66667px;
}

.loading-dot {
  opacity: 0;
}

.loading-dot:nth-child(1) {
  -webkit-animation: loading-dot infinite 1.4s;
          animation: loading-dot infinite 1.4s;
}

.loading-dot:nth-child(2) {
  -webkit-animation: loading-dot infinite 1.4s;
          animation: loading-dot infinite 1.4s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loading-dot:nth-child(3) {
  -webkit-animation: loading-dot infinite 1.4s;
          animation: loading-dot infinite 1.4s;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes loading-dot {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-dot {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.about {
  background-color: var(--lighter);
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.about-container {
  width: 100%;
  max-width: 1180px;
  margin: 3rem 0;
  border: 1px black solid;
  background-color: var(--white);
  padding: 3.5rem;
  border-radius: 1rem;
  position: relative;
}

.about-wrapper {
  font-size: 2rem;
  color: var(--dark);
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-wrapper .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-cv {
  margin: 5rem 0;
  text-align: center;
}

.about-cv i {
  font-size: 2.5rem;
  color: red;
  margin-left: 1rem;
}

.about-header {
  text-align: center;
  font-size: 3.5rem;
  color: var(--main);
}

.about-randomize {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: var(--white);
  color: var(--main);
  padding: 1rem;
  border-radius: 2rem;
  border: 2px var(--main) solid;
  z-index: 2;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  opacity: 0;
  -webkit-animation: markov 2s 10s forwards;
          animation: markov 2s 10s forwards;
}

@-webkit-keyframes markov {
  0% {
    -webkit-transform: scale(0) rotate(45deg) translate(18%, 35%);
            transform: scale(0) rotate(45deg) translate(18%, 35%);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2) rotate(45deg) translate(18%, 35%);
            transform: scale(1.2) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(45deg) translate(18%, 35%);
            transform: scale(1) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }
}

@keyframes markov {
  0% {
    -webkit-transform: scale(0) rotate(45deg) translate(18%, 35%);
            transform: scale(0) rotate(45deg) translate(18%, 35%);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2) rotate(45deg) translate(18%, 35%);
            transform: scale(1.2) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(45deg) translate(18%, 35%);
            transform: scale(1) rotate(45deg) translate(18%, 35%);
    opacity: 1;
  }
}

:root {
  --white: rgb(255, 255, 255);
  --light: rgb(136, 235, 242);
  --lighter: rgb(231, 237, 255);
  --main: #0a6c75;
  --dark: rgba(11, 5, 43, 0.856);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  padding: .5rem;
  font-family: Dosis sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--lighter);
  color: var(--dark);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#root {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: 1fr 100fr 1fr;
      grid-template-rows: 1fr 100fr 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  background-color: var(--white);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.underline {
  position: relative;
  width: 5rem;
  height: .3rem;
  background-color: var(--dark);
  margin: 0 auto 2rem auto;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 500px / 16px = 31.25em */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px var(--dark);
          box-shadow: inset 0 0 10px var(--dark);
  background: var(--lighter);
  border-radius: 10px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--dark);
          box-shadow: inset 0 0 6px var(--dark);
  background: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px var(--lighter);
          box-shadow: inset 0 0 6px var(--lighter);
}

.footer {
  background-color: var(--lighter);
  color: var(--dark);
  text-transform: capitalize;
  font-weight: 600;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.default {
  height: 100%;
  background-color: var(--lighter);
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.default h1 {
  font-size: 6rem;
  color: var(--main);
}

.default a {
  font-size: 4rem;
  color: var(--main);
}

.default a:hover {
  font-weight: 600;
}

.default a:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.default a i {
  color: var(--dark);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}
/*# sourceMappingURL=App.css.map */